:root {
    --primary: #00d9ff;
    --secondary: #ff8800;
    --back: #d7d3d3;
    --action: #ff6565;
    --border-radius: 15px;
    --btn-padding: 20px;
}
/* #00d9ff */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--back);
    font-family: sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    text-align: center;
    font-size: 35px;
    background-color: white;
    padding: var(--btn-padding);
    border-radius: 15px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

#reset {
    
    font-size: 12px;
    grid-column: span 2;
    cursor: pointer;
    color: var(--action);
    border: 2px var(--action) solid;
    border-radius: 15px;
    padding: 5px;
    margin-left: 175px;
    margin-right: 175px;
}

#reset:hover {
    color: var(--back);
    background-color: var(--action);
   transition: 0.5s;
}

.action {
    margin-bottom: 40px;
    text-align: center;
}

#message {
    font-size: 25px;
}

#next {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: var(--action);
    color: white;
    border-radius: var(--border-radius);
    visibility: hidden;
    cursor: pointer;
}

#next.active {
    visibility: visible;
}

#jeu {
    border-top: 1px solid black;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
}
.choix{
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    align-items: center;
    font-size: 45px;
    padding: var(--btn-padding);
}

.btn-joueur,
.btn-ordi {
    border-radius: 15px;
    transition: all 0.2s ease;
}

.btn-joueur {
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.btn-joueur:hover {
    color: var(--primary);
}

.button img {
    height: 64px;
}

.button p {
    margin-left: 20px;
}

.button:not(:last-child) {
    margin-bottom: 40px;
}

.btn-joueur.desactivated {
    background-color: var(--back);
    cursor: default;
}

.btn-joueur.desactivated:hover,
.btn-joueur.active {
    color: inherit;
}

.btn-joueur.active {
    background-color: var(--primary);
}

.btn-ordi.active {
    background-color: var(--secondary);
}
